body{
        background-image: url("mn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
/*.one{
        align-items:center;
        display:flex;
        flex-direction:column;
        margin-top: 50px;
    }*/
    .header h1{
        color: white;
        text-align: center;
        font-size: 3.5rem;
        margin:auto;
    }
    .header{
        margin-top:0rem;
        margin-left:5%;
        text-align:center;
        display: flex;
    }
    .two{
        color: aliceblue;
        text-align: center;
        margin-top: 10px;
        font-size: 1rem;
        margin-left: 0%;
    }
    .three{
        color: aliceblue;
        text-align: center;
        margin-top: 0.5%;
    }
    .ll{
        color: aliceblue;
        text-align: center;
        font-size: 2em;
        padding-top: 4rem;
        padding-bottom: 0;
        font-style: oblique;
        margin-bottom: auto;
        transform: translateY(-4em);
    }
  .one{
    width:500px;
    border-radius:0;
    margin-left:10rem;
    mix-blend-mode: difference;
    border:3px solid cyan;
    box-shadow: 0px 0px 15px cyan,0px 0px 15px cyan;
    margin-top: 4rem;
    justify-content: center;
  }        
  img{
    width:500px;
    border-radius:0;
    height: auto;

    align-items: center;
  }
.main{
  color:beige;
  font-size: 2rem;
  text-align:center;
  display: flex;
  align-items:center;
  justify-content:center;
  font-weight: bolder;
  font-style: italic;
}
.event{
  color:aliceblue;
  margin-left: 40px;
  padding:0;
}
.event{
  color: #f5f5f5;
  padding:0;
  float:right;
  margin-right: 12rem;
  font-weight: bolder;
  font-size:1.5rem;
  padding-top: 3em;
  font-style: italic;
}
.event li{
  color: #FFFFFF;
}
.Main img{
  width: 80px;
  margin-top:0;
  margin-left:6rem;
  transform: translate(27px,72px);
  border-radius: 50%;
}
.vt{
  color:beige;
  text-align: center;
  list-style-type: none;
  font-size: 2.5rem;
  padding-top: 2rem;
}

.rt{
  color:#FFFFFF;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 3.5em;
  transform:translateY(-100px);
}