body{
        background-image: url("mn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
/*.one{
        align-items:center;
        display:flex;
        flex-direction:column;
        margin-top: 50px;
    }*/
    .header h1{
        color: white;
        text-align: center;
        font-size: 3.5rem;
        margin:auto;
    }
    .header{
        margin-top:0.2px;
        margin-left:5%;
        text-align:center;
        display: flex;
    }
    .two{
        color: aliceblue;
        text-align: center;
        margin-top: 10px;
        font-size: 1rem;
        margin-left: 0%;
    }
    .three{
        color: aliceblue;
        text-align: center;
        margin-top: 0.5%;
    }
    .ll{
        color: aliceblue;
        text-align: center;
        font-size: 4em;
        padding-top: 4rem;
        padding-bottom: 1rem;
        font-style: oblique;
<<<<<<< HEAD
  
=======
        margin-bottom: auto;
>>>>>>> 59e6ec8ac74ba3d5cb1f58a5ecdb69415e1ff197
    }
  .one{
    width:500px;
    border-radius:0;
    margin-left:10rem;
    mix-blend-mode: difference;
    border:3px solid cyan;
    box-shadow: 0px 0px 15px cyan,0px 0px 15px cyan;
    margin-top: 4rem;
    justify-content: center;
  }        
  img{
    width:500px;
    border-radius:0;
    height: auto;

    align-items: center;
  }
.main{
  color:beige;
  font-size: 2rem;
  text-align:center;
  display: flex;
  align-items:center;
  justify-content:center;
  font-weight: bolder;
  font-style: italic;
}
.event-list{
  color:aliceblue;
  margin-right: 40px;
  padding:
}
.event-list li{
  background-color: #f5f5f5;
  color: #333;
}