body{
        background-image: url("mn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
.one{
        align-items:center;
        display:flex;
        flex-direction:column;
        margin-top: 50px;
    }
    .header h1{
        color: white;
        text-align:  center;
        font-size: 2.5rem;
        margin:auto;
    }
    .header{
        margin-top: 20px;
        margin-left: 5%;
        text-align: center;
        display: flex;
    }
    .two{
        color: aliceblue;
        text-align: center;
        margin-top: 10px;
        font-size: 1rem;
        margin-left: 0%;
    }
    .three{
        color: aliceblue;
        text-align: center;
        margin-top: 0.5%;
    }
    .ll{
        color: aliceblue;
        text-align: center;
        font-size: 1rem;
    }
        
